/* Reset default styles */
body,
h1,
form {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f3f4;
  color: #333333;
}

.container {
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;

}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

textarea {
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  width: 60%;
  resize: none;
  margin: auto;
  width: 50%;
}

input[type="submit"] {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

a {
  color: #4caf50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.task-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.task-card {
  width: calc(16.66% - 20px);
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-right: 10px;
}

.task-card span {
  display: block;
  margin-bottom: 10px;
}

.task-card form {
  text-align: center;
}

@media (max-width: 768px) {
  .task-card {
    width: calc(33.33% - 20px);
  }
}

@media (max-width: 576px) {
  .task-card {
    width: calc(50% - 20px);
  }
}
